{% extends 'main.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block content %}
    <h1>{{ user.username }}</h1>
    <h3>Ваши статьи:</h3>
    {% for i in data %}
    <p class="h1 text-center">{{ i.title }}</p>
    {% if i.img %}
        <img src="{{ i.img.url }}" class="rounded mx-auto d-block">
    {% endif %}
<p class="fs-2 text-center">{{ i.type }}</p>
<p class="fs-4 text-center">{{ i.date }}</p>
    <div class="text-center">
    <a class="btn btn-primary" href="{% url 'main:other' i.pk %}">Читать дальше</a>
    </div>
    {% endfor %}
{% endblock %}