{% extends 'main.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    {% for val in voting %}
        <form enctype="multipart/form-data" method="post" class="form">
            {% csrf_token %}
            <h2>{{ val.text }}</h2>
        
            <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
            {{ val.value1 }}
            </label>
            </div>
            
            <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
            {{ val.value2 }}
            </label>
            </div>
            
            <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
            {{ val.value3 }}
            </label>
            </div>
            
            <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
            {{ val.value4 }}
            </label>
            </div>
        
            <button type="submit" class="btn btn-primary">Ok</button>
        </form>
    {% endfor %}
{% endblock %}